@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .inverted-color {
    @apply bg-sky-800 text-gray-200;
  }
  .inverted-color-hover {
    @apply bg-sky-700 
  }

  
  /* 2048 Animation tries */
  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-exit {
    opacity: 1;
  }
  
  .example-exit.example-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  /* 2048 Animation tries ends */


  
}


@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  } 
  h3 {
    @apply text-lg font-bold;
  } 
  p{
    @apply py-2;
  }
  code {
    @apply bg-gray-300 text-gray-700 rounded p-1 text-wrap max-w-[72ch]
  }
}

.cell-2 {
  @apply bg-sky-700 
}

.cell-4 {
  @apply bg-sky-500
}


.cell-8 {
  @apply bg-sky-400
}

