---
layout: "core/base.layout.njk"
tags: ["posts-listing"]
----

<div class="page">
  <main class="page__main" id="app-content">
  These are my thoughts and ramblings. The will be terse. As you can see the chronology,
I've been a bit under the cloud on this. But hey, thats what organic is about! I hope to get better by time

<h3 class="post-list-header"> Posts </h3>

{% set postslist = collections.notes %}
{% include "core/layouts/posts-list.njk" %}

</main>
</div>
