# see https://docs.gocd.org/current/installation/configure-reverse-proxy.html
server {
 server_name  {{luther_deploy_host}};

 location / {
       proxy_pass http://localhost:{{luther_deploy_port}};
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-Proto https;
 }

#  include /etc/nginx/includes/ssl-config-old-weaver;
}


server {
 server_name  "{{blog_deploy_host}}";
 root /var/www/html/blog;
 index index.html;
 location / {
   try_files $uri $uri/ =404;
 }
}

#server {
#    listen   8098;
#        ssl on;
#        ssl_certificate      /etc/ssl/certs/domain.crt;
#        ssl_certificate_key  /root/domain.key;
#    location / {
#
#        proxy_pass http://hostname:8097;
#        proxy_http_version 1.1;
#        proxy_set_header Upgrade $http_upgrade;
#        proxy_set_header Connection "upgrade";
#        proxy_read_timeout 86400;
#
#    }
#}
#https://stackoverflow.com/questions/12102110/nginx-to-reverse-proxy-websockets-and-enable-ssl-wss