/* clean-css ignore:start */
.entry {
    &__header {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__time {
        color: $gray;
        font-size: 0.875rem;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        order: -1;
        margin-bottom: 0.25rem;
    }

    &__title {
    }

    &__organization {
        font-size: 1.125rem;
    }

    &__content {
        // max-width: 60ch;
        * > * {
            margin-top: 1em;
        }
    }

    &__remote-badge {
        padding: 2px;
        border: 1px solid lightgrey;
        font-size: 0.75em;
        background-color: yellow;
    }
}

.portfolio{
    display: grid;        
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;    
    place-items: center;
    justify-content: center;
    &__a {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        align-self: center;
        text-align: center;
        border: 2px solid gray;
        border-radius: 2px;
        margin: 2rem 0px;
        
    }
    &__name{
        background-color: skyblue;
        border-bottom: 1px solid blue;
    }

    &__img {
        
        width:  100%;
        height:  100%;
        object-fit: scale-down;
        align-self: center;
        
        
    }
    @include mq(lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 34rem; 
    }


}
/* clean-css ignore:end */