---js
{
  layout: "core/base.layout.njk",
  permalink: function({ page, app }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    if (isRoot) return "/";

    const pathPrefix = app.notes.pathPrefix.replace(/^\/|\/$/, '');
    return `/${[pathPrefix, url].filter(Boolean).join('/')}/`;
  }
}
---

<div class="page" data-pagefind-body>
  <main class="page__main" id="app-content" >
    <article>
      <h1 class="page__title">{{ headline or title or page.fileSlug }}
      </h1>
      <div class="pl-tags">
                    {% for tag in tags  | reject("", "posts") %}
                        <span class="pl-tag">{{ tag }}</span>
                    {% endfor %}

                    {{page.date | readableDate("DD")}}
      </div>
      

        {% include 'modules/notes/prev-next-post.partial.njk' %}

      <div class="article">
        {{ content | safe }}
      </div>
    </article>
      {% include 'modules/notes/prev-next-post.partial.njk' %}

    <div class="giscus"></div>
      <script src="https://giscus.app/client.js"
        data-repo="saravanak/oldweaver"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzOTQ1Mjg0MTU="
        data-category="Announcements"
        data-category-id="DIC_kwDOF4QGn84Cgqyq"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
  </main>



  {% if panel %}
  <div class="page__panel">
    {% include 'modules/notes/notes-panel.partial.njk' %}
  </div>
  {% endif%}
</div>


