{% if portfolio.length %}
<ol class="portfolio">
    {% for portfolioItem in portfolio %}
        <li >
            {% if portfolioItem.url %}            
                <a href="{{ portfolioItem.url }}"> <b> {{ portfolioItem.name }} </b>
            {% endif %}

            {% if portfolioItem.description %}
                <p >{{ portfolioItem.description }}</p>
            {% endif %}

            <img class="portfolio__img" src={{portfolioItem.image}} />
             
            
            </a>

        </li>
    {% endfor %}
</ol>
{% endif %}