{% if portfolio.length %}

        <div class="portfolio">
    {% for portfolioItem in portfolio %}
            {% if portfolioItem.url %}            
                <a class="portfolio__a"  href="{{ portfolioItem.url }}"> <b class="portfolio__name"> {{ portfolioItem.name }} </b>
            {% endif %}

            {% if portfolioItem.description %}
                <p >{{ portfolioItem.description }}</p>
            {% endif %}

            <img class="portfolio__img" src={{portfolioItem.image}} />
             
            
            </a>

    {% endfor %}
        </div>

{% endif %}